In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
smp_quotations = pd.read_csv('./data/smp_quotations.csv')

# # Convert values from 'lb' to 'mt' where the unit is 'lb'
# smp_quotations.loc[smp_quotations['raw_unit'] == 'lb', 'raw_price'] = smp_quotations.loc[smp_quotations['raw_unit'] == 'lb', 'raw_price'] * 2204.62  # Conversion factor: 1 lb = 0.000453592 mt
# 
# # Convert values from 'kg' to 'mt' where the unit is 'kg'
# smp_quotations.loc[smp_quotations['raw_unit'] == '100kg', 'raw_price'] = smp_quotations.loc[smp_quotations['raw_unit'] == '100kg', 'raw_price'] * 10  # Conversion factor: 1 kg = 0.001 mt
# 
# smp_quotations = smp_quotations[['data_series_id', 'product_id', 'data_source_id', 'date', 'raw_currency', 'raw_price', 'currency', 'price', 'country_id']]

smp_quotations

,id,data_series_id,product_id,data_source_id,date,data_interval,raw_currency,raw_unit,raw_price,currency,...,created_at.1,updated_at.1,id.2,product_group_id,name.1,slug,created_at.2,updated_at.2,deleted_at,type
0,85115,652,4,30,2001-04-23,weekly,EUR,mt,2291.590,EUR,...,2021-06-21 16:01:39,2021-06-21 16:01:39,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
1,85116,652,4,30,2001-04-30,weekly,EUR,mt,2323.350,EUR,...,2021-06-21 16:01:39,2021-06-21 16:01:39,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
2,85117,652,4,30,2001-05-07,weekly,EUR,mt,2359.660,EUR,...,2021-06-21 16:01:39,2021-06-21 16:01:39,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
3,85118,652,4,30,2001-05-14,weekly,EUR,mt,2427.720,EUR,...,2021-06-21 16:01:39,2021-06-21 16:01:39,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
4,85119,652,4,30,2001-05-21,weekly,EUR,mt,2482.180,EUR,...,2021-06-21 16:01:39,2021-06-21 16:01:39,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8233,1652235,652,4,30,2023-12-20,weekly,EUR,100kg,254.000,EUR,...,2021-06-21 16:01:39,2021-06-21 16:01:39,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
8234,1652369,886,4,1,2023-12-17,weekly,EUR,100kg,261.000,EUR,...,2021-06-21 16:01:39,2021-06-21 16:01:39,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
8235,1652383,912,4,71,2023-12-20,daily,EUR,mt,2624.000,EUR,...,2021-10-26 15:57:11,2021-10-26 15:57:11,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
8236,1663349,961,4,133,2023-12-21,weekly,USD,lb,1.185,EUR,...,2023-05-16 12:37:44,2023-05-16 12:37:44,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
8237,1668383,912,4,71,2023-12-21,daily,EUR,mt,2590.000,EUR,...,2021-10-26 15:57:11,2021-10-26 15:57:11,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid

In [55]:
a = pd.read_csv('./data/2/4/smp_quotations.csv')

In [56]:
a

,Unnamed: 0,id,data_series_id,product_id,data_source_id,date,data_interval,raw_currency,raw_unit,raw_price,...,created_at.1,updated_at.1,id.2,product_group_id,name.1,slug,created_at.2,updated_at.2,deleted_at,type
0,6168,428512,961,4,133,2020-10-01,weekly,USD,lb,1.1100,...,2023-05-16 12:37:44,2023-05-16 12:37:44,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
1,6169,431756,961,4,133,2000-01-06,weekly,USD,lb,1.0050,...,2023-05-16 12:37:44,2023-05-16 12:37:44,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
2,6170,431757,961,4,133,2000-01-13,weekly,USD,lb,1.0050,...,2023-05-16 12:37:44,2023-05-16 12:37:44,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
3,6171,431758,961,4,133,2000-01-20,weekly,USD,lb,1.0050,...,2023-05-16 12:37:44,2023-05-16 12:37:44,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
4,6172,431759,961,4,133,2000-01-27,weekly,USD,lb,1.0050,...,2023-05-16 12:37:44,2023-05-16 12:37:44,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1797,8194,572903,961,4,133,2023-11-21,weekly,USD,lb,1.2075,...,2023-05-16 12:37:44,2023-05-16 12:37:44,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
1798,8207,634080,961,4,133,2023-11-30,weekly,USD,lb,1.2000,...,2023-05-16 12:37:44,2023-05-16 12:37:44,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
1799,8217,897568,961,4,133,2023-12-07,weekly,USD,lb,1.2000,...,2023-05-16 12:37:44,2023-05-16 12:37:44,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
1800,8226,1651445,961,4,133,2023-12-14,weekly,USD,lb,1.1900,...,2023-05-16 12:37:44,2023-05-16 12:37:44,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid
1801,8236,1663349,961,4,133,2023-12-21,weekly,USD,lb,1.1850,...,2023-05-16 12:37:44,2023-05-16 12:37:44,4,2,SMP (Food),skimmed-milk-powder-food,2019-02-02 15:06:27,2021-02-15 07:54:23,NaN,solid

In [59]:
a.name.unique()

array(['Dairy Market News'], dtype=object)

In [33]:
a.currency.unique()

array(['EUR'], dtype=object)

In [34]:
a.raw_currency.unique()

array(['USD'], dtype=object)

In [47]:
a.unit.unique()

array(['mt'], dtype=object)

In [58]:
a.data_source_id.unique()

array([133])